@using Picturepark.Microsite.Example.Contracts;
@using Microsoft.AspNetCore.Mvc.Localization
@using Picturepark.SDK.V1.Contract

@inject IViewLocalizer Localizer

@model ContentItem<PressRelease>

<div class="breadcrumbsBox"><div class="breadcrumbs"><a asp-controller="Home" asp-action="Overview"><span class="separator">#</span> @Localizer.GetString("Back to Content Management Blog")</a></div></div>

<div id="content-area" class="clearfix">
	<div id="left-area">
		<article class="et_pb_post post type-post status-publish format-standard has-post-thumbnail hentry category-best-practices-for-dam">
			<div class="entry-content">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0">
					<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_0">
						<div class="et_pb_text_inner">
							<h1 class="entry-title">@Model.Content.Headline.GetTranslation()</h1>

							<div class="et_post_meta_wrapper">
								<!-- <h1 class="entry-title">The Value of Synonyms in Content Systems</h1> -->
								<p class="post-meta">By <span class="author vcard"><a href="#" title="Posts By @Model.Audit.CreatedByUser" rel="author">@Model.Audit.CreatedByUser </a></span><span class="metaBullet">•</span><span class="published">@Model.Content.PublishDate.ToShortDateString()</span></p>
							</div> <!-- .et_post_meta_wrapper -->

							<p class="leadP" style="margin-top: 20px; text-align:left">@Model.Content.Teaser?.GetTranslation()</p>
							<br />

							<img src="/Home/ImageResized/@Model.Content.KeyVisual.TargetId?width=750&height=600" />
							<div class="et-box et-shadow"><div class="et-box-content" style="padding: 4px !important;">@Model.Content.KeyVisual.Usage.GetTranslation()</div></div>


							<markdown>@Html.Raw(Model.Content.Text?.GetTranslation())</markdown>

							<div class="hr1" style="margin:40px 0 40px 0 !important;"></div>

							<h4>Downloads</h4>
							@foreach (var download in Model.Content.Downloads)
							{
								<div class="col-lg-3 col-md-4 col-xs-6 thumb" style="height: 200px;">
									<div class="thumbnail">
										<a asp-area="" asp-controller="Home" asp-action="Embed" asp-route-id="@download.TargetId">
											<img class="img-responsive" src="/Home/Thumbnail/@download.TargetId" alt="" style="max-height: 160px;">
											<p style="padding: 6px;">@download.Usage.GetTranslation()</p>
										</a>
									</div>
								</div>
							}
						</div>
					</div> <!-- .et_pb_text -->
				</div> <!-- .et_pb_column -->

			</div> <!-- .et_post_meta_wrapper -->
		</article> <!-- .et_pb_post -->

	</div> <!-- #left-area -->
</div>
