@using Picturepark.Microsite.Example.Contracts;
@using Microsoft.AspNetCore.Mvc.Localization
@using Picturepark.SDK.V1.Contract

@model IEnumerable<ContentItem<PressRelease>>
@inject IViewLocalizer Localizer
<!--
<div class=" et_pb_row et_pb_row_0">
	<div class="et_pb_column et_pb_column_4_4  et_pb_column_0">
		<div class="et_pb_code et_pb_module  et_pb_code_0">
			<p class="leadP">Content management and digital asset management articles, tips and advice.</p>
		</div>
	</div>
</div>
-->
<div class=" et_pb_row et_pb_row_1">
	<div class="et_pb_column et_pb_column_4_4  et_pb_column_1">
		<div class="et_pb_blog_grid_wrapper">
			<div class="et_pb_blog_grid clearfix et_pb_module et_pb_bg_layout_light et_pb_blog_0">
				@foreach (var portal in Model)
				{
					<div class="column size-1of3">
						<article class="et_pb_post clearfix post type-post status-publish format-standard has-post-thumbnail hentry category-best-practices-for-dam">

							<div class="et_pb_image_container">
								<a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id="@portal.Id" class="entry-featured-image-url">
									<img src="/Home/ImageResized/@portal.Content.KeyVisual.TargetId?width=400&height=400" alt="The Value of Synonyms in Content Systems" width="400" height="250" />
								</a>
							</div> <!-- .et_pb_image_container -->
							<h2 class="entry-title"><a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id="@portal.Id">@portal.Content.Headline.GetTranslation()</a></h2>

							<div class="post-content">
								<p>@portal.Content.Teaser.GetTranslation()</p>
								<a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id="@portal.Id" class="more-link">@Localizer.GetString("Read more")</a>
							</div>
						</article>
					</div>
				}
			</div>
			<!--
			<div class="pagination clearfix">
				<div class="alignleft"><a href="https://picturepark.com/content-management-blog/page/2/">« Older Entries</a></div>
				<div class="alignright"></div>
			</div>
			-->
		</div>
	</div>
</div>
