@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model Picturepark.Microsite.PressPortal.Contracts.Jobs.JobPosition


<h2>@Model.Title.GetTranslation()</h2>

<p>@Model.Description.GetTranslation()</p>

<hr />

<h4>@Localizer["Skill Requirements"]</h4><br />
<div class="row">
	<ul>
		@foreach (var skill in Model.RequiredSkills)
		{
			<li>
				<strong>@skill.Name.GetTranslation()</strong>@foreach (var solution in skill.Solutions)
				{ <a href="#" data-toggle="tooltip" title="@solution.Description.GetTranslation()">@solution.Name.GetTranslation()</a> }<br />@skill.Description.GetTranslation()
			</li>
		}
	</ul>
</div>
<br />

<h4>@Localizer["Locations"]</h4><br />
<div class="row">
	<ul>
		@foreach (var office in Model.OfficeLocations)
		{
			<li>@office.Name</li>
		}
	</ul>
</div>

<br />

<h4>@Localizer["Contact"]</h4>

<div class="row">
	@foreach (var contact in Model.ContactInformation)
	{
		<div class="col-lg-3 col-md-4 col-xs-6 thumb" style="height: 200px;">
			<address>
				<strong>@Localizer["Name:"]</strong>@contact.Name<br />
				<strong>@Localizer["Address:"]</strong>@contact.Adress<br />
				<strong>@Localizer["Email:"]</strong> <a href="mailto:@contact.Email">@contact.Email</a>
			</address>
		</div>
	}
</div>
