@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Picturepark.Microsite.Example.Extensions;
@inject IViewLocalizer Localizer

@model Picturepark.Microsite.Example.Contracts.Jobs.JobsAtPicturepark

<h2>@Localizer["Jobs"]</h2>
<hr />
<h4>@Model.Headline.GetTranslation()</h4>
<p>@Model.Introduction.GetTranslation()</p>
<p>@Model.Text.GetTranslation()</p>

<br />
<br />

<div class="row">
	<div class="col-lg-9">
		@foreach (var job in Model.Jobs)
		{
			<hr />
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12 ">
					<a asp-area="" asp-controller="Jobs" asp-action="JobDetail" asp-route-id="@job.refId"><b>@job.Title.GetTranslation()</b></a>
					<br />
					@job.Description.GetTranslation()
				</div>
			</div>
		}
	</div>

	<br />
	<br />
</div>